import(methods)
import(matrixStats)
importMethodsFrom(minfi)
import(IlluminaHumanMethylation450kmanifest)
import(RColorBrewer)
import(shiny)
import(minfi)


export(runShinyMethyl, getGreenControls, getRedControls,
       orderByName, shinySummarize, getPCA, shinyMethylSet)

exportMethods(combine, shinySummarize, show, getBeta, getM, getMeth,
              getUnmeth, getCN, pData, sampleNames)

exportClasses(shinyMethylSet)
