import(methods)
import(matrixStats)
importMethodsFrom(minfi)
import(IlluminaHumanMethylation450kmanifest)
import(RColorBrewer)
import(gmodels)
import(knitr)
import(knitrBootstrap)
import(shiny)
import(minfi)


export(runShinyMethyl, getGreenControls, getRedControls,
       orderByName, shinySummarize, getPCA, shinyMethylSet)

exportMethods(combine,shinySummarize, show, orderByName, getBeta, getM, getMeth,
              getUnmeth, getCN, getGreenControls, getRedControls, getPCA,
              pData, sampleNames)

exportClasses(shinyMethylSet)
